<!DOCTYPE html>
<html>
<head>
  <title>Autoflush</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="http://127.0.0.1/visit2">Visi2</a>
<a href="http://127.0.0.1/visit3">Visit3</a>
<%= yield %>

</body>
</html>
